/************************************************************************************************************************
                                        PROJECT NAME :WHITE GRAPHICS
    
                                            DEFAULT VALUES USED

                                        FONT    :          ROBOTO CONDENSED
                                        Medium Turquoise : #34C6D3(Buttons,Icons,Links,Lines and Background);
                                        Steel Grey :       #41464B(Headings)
                                        Blue Bayoux :      #64707B(Paragraphs)
                                        White :            #FFF (Text with darker background)
                                        Black :            #000 (for hover and some places)
************************************************************************************************************************/
body{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
}
html, body{
    height: 100%;
}
/************************************************************************************************************************
                                            FONT COLOR SETTINGS
************************************************************************************************************************/

.text-heading{
    color: #41464B;
    text-transform: uppercase;
}
.text-content{
    color: #64707B;
}
.text-heading-white{
    color: #fff;
}
/************************************************************************************************************************
                                            BUTTON GENERIC CSS
************************************************************************************************************************/
.btn-general{
    border: solid 2px #fff;
    border-radius: 0;
    padding: 12px 26px;
    text-transform: uppercase;
    font-weight: bold;
}
.btn-white{
    color: #fff;
    border-color: #fff;
}
.btn-white:hover,
.btn-white:focus{
    background: #fff;
    color: #41464B;
}

.btn-black{
    color: black;
    border-color: black;
}

.btn-black:hover,
.btn-black:focus{
    background: black;
    color: white;
}

.btn-blue{
    color: #34C6D3;
    border-color: #34C6D3;
}
.btn-blue:hover,
.btn-blue:focus{
    background: #34C6D3;
    color: #fff;
}
.bottom-margin{
    margin-bottom: 30px;
}
.btn-back-to-top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 22px;
    padding: 10px 15px;
    border-radius: 0;
/*    display: none;*/
}
/************************************************************************************************************************
                                            PARALLAC IMAGE
************************************************************************************************************************/
.bg-parallax{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
}
/************************************************************************************************************************
                                            HOME SECTION CSS
************************************************************************************************************************/

.home-section{
    height: 100%;
}
.home-cover{
    /* background-image: url('../img/bg-home.jpg'); */
    
    height: 100%;
    
}
.home-content-box{
    width: 100%;
    height: 100%;
    display: table;
}
.home-content-box-inner{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.home-section .text-heading{
    color: black;
    font-size: 55px;
    font-weight: bold;
    margin: 20px 0;
}
/*CSS TO ANIMATE THINGS IN HOME SECTION*/
.home-btn{
    -webkit-animation-duration: .5s;
            animation-duration: .5s;
}
.home-cover{
    -webkit-animation-delay: .1s;
            animation-delay: .1s;
}
.text-heading{
    -webkit-animation-delay: .5s;
            animation-delay: .5s;
}
.home-btn{
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
}
/************************************************************************************************************************
                                            CONTENT BOX CSS
************************************************************************************************************************/
.content-box{
    padding: 60px 0;
}
.content-title .text-heading{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 30px;
}

.content-title-underline{
    width: 30px;
    height: 3px;
    background: #34C6D3;
    margin: 0 auto 30px;
}
/************************************************************************************************************************
                                            SERVICE SECTION CSS
************************************************************************************************************************/

.service-item{
    padding: 20px 0;
    margin: 0 0 20px;
    cursor: pointer;
}

.service-item-icon .fa{
    color: #34C6D3;
    float: left;
    padding: 15px;
    margin-right: 25px;
    width: 75px;
    height: 75px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
}

.service-item:hover .service-item-icon .fa{
    color: #fff;
    background: #34C6D3;
}

.service-item-title .text-heading{
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 10px;
}

.service-item desc p{
    margin: 0;
    padding-left: 100px;
}
/************************************************************************************************************************
                                            ABOUT SECTION CSS
************************************************************************************************************************/
.content-box .container-fluid{
    /* border: 5px solid red; */
}

/************************************************************************************************************************
                                            WORK SECTION CSS
************************************************************************************************************************/

.row.no-gutters [class*=col-]{
    padding-left: 0;
    padding-right: 0;
}
.img-wrapper{
    overflow: hidden;
}

.img-wrapper img{
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    -o-transition: transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
}

/************************************************************************************************************************
                                            PRICING SECTION CSS
************************************************************************************************************************/

.content-box .container .row .btn{
    /* background-color: lightgray; */
}

/************************************************************************************************************************
                                            CONTACT SECTION CSS
************************************************************************************************************************/

footer{
    background-color: #41464B;
    padding-top: 30px;
    border-top: 5px solid rgba(0,0,0,0.1);
}
footer p{
    font-size: 16px;
    font-weight: 300;
}
.contact-right h3,
.contact-left h3{
    color: #fff;
    font-size: 28px;
    font-weight: 700;
}

.contact-left p{
    color: #fff;
    margin-bottom: 30px;
}

.contact-info{
}

address{
    color: #fff;
}

address strong,
phone-fax-email strong{
    font-size: 16px;
    letter-spacing: 1px;
}

/************************************************************************************************************************
                                            NAVIGATION CSS
************************************************************************************************************************/
.navbar{
    padding: 0 20px;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.navbar-inverse{
    border: none;
    background-color: rgba(0,0,0,0.8);
}
.wg-top-navbar{
    background-color: transparent;
}
.wg-nav-wrapper{
    padding: 0 8px;
}
.navbar-nav{
    float: right;
}

.wg-top-navbar .nav-header{
    background-color: rgba(0,0,0,0.8);
}

.navbar-inverse .navbar-nav>li>a{
    color: grey;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover{
     color: #34C6D3;
}
.navbar-inverse .navbar-nav>li.active>a:hover,
.navbar-inverse .navbar-nav>li.active>a:focus{
    color: #34C6D3;
    background: none;
}
.navbar-collapse{
    max-height: none!important;
}

.navbar-inverse .navbar-nav>li.active a{
    color: #34C6D3;
    background: none;
}
.navbar-brand{
    font-family: 'Crimson Text', serif;
    /* color: #DCDCDC; */
    font-weight: 1000   ;
}

.wg-top-navbar .nav-header .navbar-toggle{
    background-color: transparent;
}

.wg-top-navbar .nav-header .navbar-brand{
    color: dimgrey;
}

.wg-top-navbar .nav-header .navbar-brand:hover{
    color: black;
}

.wg-top-navbar .nav-header .navbar-toggle .icon-bar{
    background-color: black;
    border: none;
}

.wg-top-navbar .nav-header .navbar-toggle:hover{
    background-color: white;
}

.wg-top-navbar .nav-header .navbar-toggle:active {
    background-color: white;
}

